[project]
	description = Administration pannel for GIT and Subversion
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ricardo Ramirez (theclickpro)
[access "refs/for/refs/*"]
	read = group user/Ricardo Ramirez (theclickpro)
	push = group user/Ricardo Ramirez (theclickpro)
	label-Code-Review = -2..+2 group user/Ricardo Ramirez (theclickpro)
	label-Verified = -1..+1 group user/Ricardo Ramirez (theclickpro)
	rebase = group user/Ricardo Ramirez (theclickpro)
	removeReviewer = group user/Ricardo Ramirez (theclickpro)
	submit = group user/Ricardo Ramirez (theclickpro)
[access "refs/heads/*"]
	read = group user/Ricardo Ramirez (theclickpro)
	create = group user/Ricardo Ramirez (theclickpro)
	push = +force group user/Ricardo Ramirez (theclickpro)
	pushMerge = group user/Ricardo Ramirez (theclickpro)
[access "refs/tags/*"]
	push = +force group user/Ricardo Ramirez (theclickpro)
	pushTag = group user/Ricardo Ramirez (theclickpro)
	pushSignedTag = group user/Ricardo Ramirez (theclickpro)
